/* CSS for Counter App */

body {
    font-family: sans-serif;
    margin: 0;
  }
  
  main {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
  }
  
  .container {
    width: 500px;
    margin: 0 auto;
    text-align: center;
  }
  
  h1 {
    font-size: 3rem;
    margin-bottom: 1rem;
  }
  
  #value {
    font-size: 5rem;
    font-weight: bold;
    margin-bottom: 1rem;
  }
  
  .btn {
    padding: 0.5rem 1rem;
    font-size: 1rem;
    background-color: #eee;
    border: 1px solid #ccc;
    border-radius: 5px;
    cursor: pointer;
    margin: 0 0.5rem;
  }
  
  .btn:hover {
    background-color: #ddd;
  }
  
  .decrease {
    background-color: #ff6666;
  }
  
  .reset {
    background-color: #6666ff;
  }
  
  .increase {
    background-color: #66ff66;
  }